  


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



<!-- JavaScript Libraries -->
<script src="{{ url_for('static',filename = 'lib/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/jquery/jquery-migrate.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/easing/easing.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/wow/wow.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/waypoints/waypoints.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/counterup/counterup.min.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/superfish/hoverIntent.js')}}"></script>
<script src="{{ url_for('static',filename = 'lib/superfish/superfish.min.js')}}"></script>

<!-- Contact Form JavaScript File -->
<script src="{{ url_for('static',filename = 'contactform/contactform.js')}}"></script>

<!-- Template Main Javascript File -->
<script src="{{ url_for('static',filename = 'js/main.js')}}"></script>



  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>PINPOINT</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="">GEC Team </a>
      </div>
    </div>
  </footer>
</body>

  
</html>


  