{% extends 'base/base.html' %}

{% block script %} 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
 {% endblock %}


 {% block navbar %}
 <nav id="nav-menu-container">
   <ul class="nav-menu">
     <li class="menu-active"><a href="/">Home</a></li>
    </ul>
  </nav>
  {% endblock %}

  {% block body %}
  <br><br><br><br> 
  <div class="container mt-3" id="Message">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category=='success' %}
            <div class="alert alert-success mb-3" role="alert" >
              {{message}}
            </div>
          {% endif %}
          
          {% if category=='error' %}
            <div class="alert alert-danger mb-3" role="alert" >
              {{message}}
            </div>
          {% endif %}
        
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form action="/forgot" id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="text"  name="username" id="username" placeholder="username" class="form-control"  type="text"  pattern="([0-9a-zA-Z]*)" title="It contain letters and numbers only"  required/>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="mail" name="mail" placeholder="email address" class="form-control"  type="email" title="Valid email address" required >
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}

