{% extends 'base/base.html' %}

{% block navbar %}
      <nav id="nav-menu-container">
        <ul class="nav-menu pull-right">
         <span style="color: white;">Hi,&nbsp;{{user}}</span><li class="menu-active"></li><a href="/logout"><b>Logout</b></a></li>
        </ul>
      </nav>
{% endblock %}


{% block body %} 

{% if output %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="row align-items-center justify-content-center">
  <div class="alert alert-success alert-dismissible fade show" style="margin-top: 100px; max-width: 600px;align-items: center;">
    {{ message }}
    
  </div>
  </div>
  {% endfor %}
  {% endwith %}
{% else %}

{% if success %}
<div class="row align-items-center justify-content-center">
<div class="alert alert-success alert-dismissible fade show" style="margin-top: 100px; max-width: 600px;align-items: center;">
  <strong>Success!</strong> {{ success }}
  
</div>
</div>
{% endif %}
<br><br>

        
<center>
<div class="card card-nav-tabs text-center"  style="margin-top: 20px;border-color:green;border-radius: 10px;border-style: solid; max-width: 50%; min-width: 300px;" >
  <div class="card-header card-header-primary">
   <h2>Your video is ready</h2> 
  </div>
  <div class="card-body" style="background-color:azure;">
    <h4 class="card-title">
      {% if s %}
      <div style="margin:50px">
      <h4>The Time At Which Target locked :<b style = "color: red;">{{ time }}</b></h4>
       <h4><b>Found</b></h4>
      </div>
      {% else %}
      <div style="margin:50px">
      <h4><b>Not Found</b></h4>
      </div>
      {% endif %}
      <section id="tick" style="margin-bottom:5%;">
          <div class="container wow fadeInUp">
                 
                  <div class="pic"><img src="{{ url_for('static',filename = 'img/tick.png')}}" alt="" height="50" width="50">
                  
                </div>
                <br>
                <video width ="550" controls>
                  <source src="static/result/{{user}}.mp4" type="video/mp4">
                    Your browser not supported
                  </iframe> <br><br>
         Please download the video 
          </div>
       
        
            <br>
            <a type="button" class="btn btn-square btn-success" href="/user/result/{{user}}.mp4" download style="margin-right: 5px; background-color:green;">Download video </a>
        
        </div>
      </div>
      </center>

  </section>
  {% endif %}

  {% endblock %}
