{% extends 'admin/base.html' %}


{% block navbar %}

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link " href="/Admin">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Admin/user">
      <i class="material-icons">accessibility</i>
      <p>Verify User</p>
    </a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="/Admin/third_party">
      <i class="material-icons">add_circle</i>
      <p>Add a Third Party</p>
    </a>
  </li>
  {% if user == 'SuperAdmin' %}
  <li class="nav-item active">
    <a class="nav-link" href="/Admin/add_admin">
      <i class="material-icons">add_circle</i>
      <p>Add an Admin</p>
    </a>
  </li>
  {% endif %}

  <li class="nav-item ">
    <a class="nav-link" href="/Admin/process">
      <i class="material-icons">update</i>
      <p>Third Party's Response </p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Admin/remove_user">
      <i class="material-icons">content_cut</i>
      <p>Remove Users</p>
    </a>
  </li>
  {% if user == 'SuperAdmin' %}
  <li class="nav-item ">
    <a class="nav-link" href="/Admin/threshold">
      <i class="material-icons">update</i>
      <p>Change Threshold Value </p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/Admin/cleanup">
      <i class="material-icons">update</i>
      <p>Clean Up </p>
    </a>
  </li>
  {% endif %}
  
  
</ul>
{% endblock %}



{% block body %}
      <script type="text/javascript">
      window.setTimeout("document.getElementById('Message').style.display='none';", 6000); </script>


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="container mt-3" id="Message">
                  {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        {% if category=='success' %}
                          <div class="alert alert-success mb-3" role="alert" >
                            {{message}}
                          </div>
                        {% endif %}
                        
                        {% if category=='error' %}
                          <div class="alert alert-danger mb-3" role="alert" >
                            {{message}}
                          </div>
                        {% endif %}
                      
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
            </div>
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Profile</h4>
                  <p class="card-category">Basic Details</p>
                
                
                </div>
                <div class="card-body">
                  <form method="POST" action="/Admin/add_admin">
                    <div class="row">
                     
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" name="uname" id="uname"class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" class="form-control" name="mail" id="mail" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <input type="text" class="form-control" name="fname" id="fname"required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" class="form-control" name="lname" id="lname" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone number</label>
                          <input type="text" class="form-control"   pattern="[1-9]{1}[0-9]{9}" name="phone" id="phone"required>
                        </div>
                      </div>
                    </div>
                 
                    <div class="text-center"> 
                    <button type="submit" class="btn btn-primary">Add Admin</button>
                   
                  </form>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
      {% endblock %}