{% extends 'admin/base.html' %}
{% block body %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="container mt-3" id="Message">
                  {% with messages = get_flashed_messages(with_categories=True) %}
                     {% if messages %}
               
                       {% for category, message in messages %}
                          {% if category == 'procc' %}
                            <div id ="message" class="alert alert-success mb-3" role="alert">
                             {{message}} <br>
                            </div>
                         {% endif %}
                       {% endfor %}
                    {% endif %}
                  {% endwith %}
            </div>
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Response from Third party </h4>
                  <p class="card-category"><strong></strong></p>
                </div>
                
                <div class="card-body">
                    
                <br><center>
                <button class="btn btn-primary" onclick="show('operation1')">Accepted Requests</button>
                <button class="btn btn-primary  " onclick="show('operation2')">Rejected Requests</button></center>

   <div id="main_place">

   </div>
            <div id=operation1 style = "display:none;">
              <table class="table table-striped table-dark">
                <tr>
        
                  <th>Username</th>
                  <th></th>
                <th>Status</th>
              </tr>
          
              
            {% if succ == [] and processed == [] %}
              <div class="alert alert-danger">
                <strong>Info!</strong> There are no respose yet !!!
              </div>
              {% endif %}
              
              {% if processed != [] %}

                {% for user in processed %}


                <tr>
                          

                            

                  <td> {{user.usr_name}}</td> 
                  <td></td>
                  <td>
                   <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{user.id}}">Output Video</a>
                   <button type="button" disabled class="btn btn-secondary"><b style="color: rgba(255, 255, 255, 0.596);">Processed</b></button> 
                   <a href ="" class="btn btn-info">Inform User</a>


               </td>

                 </tr>
                 
               
       <!-- Modal Edit Employee-->
<div id="modaledit{{user.id}}" class="modal fade"  role="dialog">
<div id=co  style="color: black;">
<div class="modal-dialog">


<div class="modal-content">


<div class="modal-header">


<h4 class="modal-title">Output Video options</h4>


</div>


<div class="modal-body" >

 
   <div class="form-group">


      <label  style= "color:#343a40;font-size: 20px;"><b>Third Party Details</b></label>
      <br>
      <br>
      <label  style= "color:#343a40"><b>Third Party ID:</b>&nbsp;&nbsp;{{user.third_party_issue_id}}</label>
      <br>
      <label  style= "color:#343a40"><b>Third Party Feedback:</b>&nbsp;&nbsp;{{user.third_party_response}}</label>

      


   </div>


<p>Click on the icon to view the Output video:<p>
 <a href="/Admin/Processed/result/{{user.usr_name}}.mp4" download="true" target="_blank">
     <img src="{{url_for('static', filename='img/download.png')}}" width="50" height="75" align="middle" />
 </a>

</div>


<div class="modal-footer">


<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


</div>


</div>


</div>

</div>
</div>
                                       

           
   
{% endfor %}
              
                        
    {% endif %}


              {% for user in succ %}
                        <tr>
                          

                            

                             <td> {{user.usr_name}}</td> 
                             <td></td>
                             <td>
                              <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{user.id}}">Check Video</a>
                              <a type="submit" href="/Admin/processing/{{user.usr_name}}" class="btn btn-success" onclick="return confirm('Are You Sure to start processing now ? Once it started it cannot be cancel and it will take some time')">start processing</a> 
                              <button class="btn btn-info">Inform User</button>

   
                          </td>
   
                            </tr>
                            
                          
                  <!-- Modal Edit Employee-->
<div id="modaledit{{user.id}}" class="modal fade"  role="dialog">
  <div id=co  style="color: black;">
  <div class="modal-dialog">


     <div class="modal-content">

     
        <div class="modal-header">


           <h4 class="modal-title">Video options</h4>


        </div>


        <div class="modal-body" >


            
              <div class="form-group">


                 <label  style= "color:#343a40;font-size: 20px;"><b>Third Party Details</b></label>
                 <br>
                 <br>
                 <label  style= "color:#343a40"><b>Third Party ID:</b>&nbsp;&nbsp;{{user.third_party_issue_id}}</label>
                 <br>
                 <label  style= "color:#343a40"><b>Third Party Feedback:</b>&nbsp;&nbsp;{{user.third_party_response}}</label>

                 


              </div>

           
           <p>Click on the icon to view the video:<p>
            <a href="/third_video/{{user.usr_name}}.mp4" target="_blank">
                <img src="{{url_for('static', filename='img/download.png')}}" width="50" height="75" align="middle" />
            </a>

        </div>


        <div class="modal-footer">


           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        </div>


     </div>


  </div>

</div>
</div>
                                                  
         
                      
              
{% endfor %}
        </div>  
     

      </table></div>
    
</div></div>

<div id=operation2 style = "display:none;">
 
               <table class="table table-striped table-dark">
                 <tr>
         
                   <th>Username</th>
                   <th></th>
                 <th>Status</th>
               </tr>
           
               {% if fail== [] %}
               <div class="alert alert-danger">
                 <strong>Info!</strong> There are no respose yet !!!
               </div>
               {% endif %}
                         
                       
               {% for user in fail %}
             
                         
                       
                        
                         <tr>
                          
                             
 
                              <td> {{user.usr_name}}</td> 
                              <td></td>
                              <td>
                                <button class="btn btn-info">Inform User</button>
    
                           </td>
    
                             </tr>
                             
                           
                   <!-- Modal Edit Employee-->
 <div id="modaledit{{id}}" class="modal fade"  role="dialog">
   <div id=co  style="color: black;">
   <div class="modal-dialog">
 
 
      <div class="modal-content">
 
      
         <div class="modal-header">
 
 
            <h4 class="modal-title">Video options</h4>
 
 
         </div>
 
 
         <div class="modal-body" >
 
 
           
 
           
             
               <div class="form-group">
 
 
                  <label  style= "color:#343a40">sukker,you can put other options</label>
 
                  <input type="text" style= "color:#343a40" class="form-control" name="phone" value="{{phone}}">
 
 
               </div>
 
            
            <p>Click on the icon to download video:<p>
             <a href="" download="">
                 <img src="{{url_for('static', filename='img/download.png')}}" width="50" height="75" align="middle" />
             </a>
 
         </div>
 
 
         <div class="modal-footer">
 
 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
         </div>
 
 
      </div>
 
 
   </div>
 
 </div>
 </div>
                                                   
 
                      
                       
 {% endfor %}
 
         </div>      
        
        

        </table></div>
     
 </div></div>

<script>
  function show(param_div_id) {
    document.getElementById('main_place').innerHTML = document.getElementById(param_div_id).innerHTML;
  }

  
    window.setTimeout("document.getElementById('Message').style.display='none';", 6000); 


</script>







{% endblock %}